<% layout("/layouts/boilerplate") %>

<div class="row mt-5">
  <div class="alert alert-danger col-6 offset-3 text-center" role="alert">
    <h4 class="alert-heading">Oops! Something went wrong.</h4>
    <p><%= err.message %></p>
    <hr>
    <p class="mb-0">Status Code: <%= err.statusCode || 500 %></p>
  </div>
</div>
